// Brand Colors
$pc-color-blue-pearson: #007fa3 !default;
$pc-color-white: #fff !default;
$pc-color-black: #000 !default;

// Primary Colors
$pc-color-blue-midnight: #003057 !default;
$pc-color-green-lime: #d2db0e !default;
$pc-color-blue-ice: #d4eae4 !default;
$pc-color-gray-graphite: #505759 !default;
$pc-color-blue-ink: #005a70 !default;
$pc-color-green-grass: #008638 !default;

// Accent Colors
$pc-color-turquoise-marine: #12b2a6 !default;
$pc-color-green-fresh: #84bd00 !default;
$pc-color-purple-royal: #9e007e !default;
$pc-color-pink-hot: #ea067e !default;
$pc-color-red-strawberry: #db0020 !default;
$pc-color-orange-juicy: #ea7600 !default;
$pc-color-yellow-sunshine: #ffb81c !default;

// Digital Colors
$pc-color-blue-digital: #047a9c !default;
$pc-color-green-tealish: #22bcb4 !default;
$pc-color-green-tealish-shade: #bce9e8 !default;

// Digital Grays
$pc-color-white-cool: #f5f5f5 !default;
$pc-color-white-warm: #ececec !default;
$pc-color-gray-cool: #d3d3d3 !default;
$pc-color-gray-pencil: #74797b !default;
$pc-color-gray-pencil-hb: #636769 !default;
$pc-color-gray-charcoal: #393c3d !default;
$pc-color-black-soft: #252525 !default;

