//Brand Colors
$pc-color-white = #FFFFFF
$pc-color-black = #000000
$pc-color-blue-pearson = #007fa3

//Primary Colors
$pc-color-blue-midnight = #003057
$pc-color-blue-ice = #d4eae4
$pc-color-blue-ink = #005a70
$pc-color-turquoise-marine = #12b2a6
$pc-color-green-lime = #d2db0e
$pc-color-green-grass = #008638
$pc-color-green-fresh = #84bd00
$pc-color-purple-royal = #9e007e
$pc-color-pink-hot = #ea067e
$pc-color-red-strawberry = #db0020
$pc-color-orange-juicy = #ea7600
$pc-color-yellow-sunshine = #ffb81c
$pc-color-gray-graphite = #505759

//Digital Colors
$pc-color-blue-digital = #047a9c
$pc-color-green-tealish = #22bcb4
$pc-color-green-tealish-shade = #bce9e8
$pc-color-white-cool = #f5f5f5
$pc-color-white-warm = #ececec
$pc-color-gray-cool = #d3d3d3
$pc-color-gray-pencil = #74797b
$pc-color-gray-pencil-hb = #636769
$pc-color-gray-charcoal = #393c3d
$pc-color-black-soft = #252525

