.color-blue-pearson{
	background: $pc-color-blue-pearson;
}

.color-white{
	background: $pc-color-white;
}

.color-black{
	background: $pc-color-black;
}

.color-blue-midnight{
	background: $pc-color-blue-midnight;
}

.color-green-lime{
	background: $pc-color-green-lime;
}

.color-blue-ice{
	background: $pc-color-blue-ice;
}

.color-gray-graphite{
	background: $pc-color-gray-graphite;
}

.color-blue-ink{
	background: $pc-color-blue-ink;
}

.color-green-grass{
	background: $pc-color-green-grass;
}

.color-turquoise-marine{
	background: $pc-color-turquoise-marine;
}

.color-green-fresh{
	background: $pc-color-green-fresh;
}

.color-purple-royal{
	background: $pc-color-purple-royal;
}

.color-pink-hot{
	background: $pc-color-pink-hot;
}

.color-red-strawberry{
	background: $pc-color-red-strawberry;
}

.color-orange-juicy{
	background: $pc-color-orange-juicy;
}

.color-yellow-sunshine{
	background: $pc-color-yellow-sunshine;
}

.color-blue-digital{
	background: $pc-color-blue-digital;
}

.color-green-tealish{
	background: $pc-color-green-tealish;
}

.color-green-tealish-shade{
	background: $pc-color-green-tealish-shade;
}

.color-white-cool{
	background: $pc-color-white-cool;
}

.color-white-warm{
	background: $pc-color-white-warm;
}

.color-gray-cool{
	background: $pc-color-gray-cool;
}

.color-gray-pencil{
	background: $pc-color-gray-pencil;
}

.color-gray-pencil-hb{
	background: $pc-color-gray-pencil-hb;
}

.color-gray-charcoal{
	background: $pc-color-gray-charcoal;
}

.color-black-soft{
	background: $pc-color-black-soft;
}


