@import "../scss/fonts/_fontVariables";
@import "../scss/fonts/_fontsAllSelfHosted";
@import "../scss/_colorPalette";

$pc--font-size: 10px;

@mixin pearson-quarks--h1-font(){
  color: $pc-color-blue-midnight;
  font-family: $pc-font-playfair;
  font-size: $pc--font-size * 4.8;
  font-weight: normal;
}

@mixin pearson-quarks--h2-font(){
  color: $pc-color-blue-pearson;	
  font-family: $pc-font-playfair;
  font-size: $pc--font-size * 2.8;
}

@mixin pearson-quarks--standard-font(){
  color: $pc-color-black-soft;	
  font-family: $pc-font-open-sans;
  font-size: $pc--font-size * 1.8;
  line-height: 1.4em;
}

@mixin pearson-quarks--asian-font(){
  color: $pc-color-black-soft;  
  font-family: $pc-font-chinese-simple;
  font-size: $pc--font-size * 1.8;
  //line-height: 1.4em;
}

@mixin pearson-quarks--footer-font(){
  color: $pc-color-white;
  font-family: $pc-font-open-sans;
  font-size: $pc--font-size * 1.2;
}