@import "pearson-quarks";

$page-size: 960px;

body {
  @include pearson-quarks--standard-font();
  align-items: center;
  background: $pc-color-white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  h1{
    @include pearson-quarks--h1-font();
  }
  h2{
    @include pearson-quarks--h2-font();
  }
  .page {
    @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
      width: $page-size;
    }
    header {
      align-items: center;
      display: flex;
      height: 84px;
      padding: 0 47px;
      width: 100%;
    }
    .product-name{
      align-items: center;
      background: $pc-color-white-cool;
      display: flex;
      height: 47px;
      margin: 0 0 77px 0;
      padding: 0 47px;
    }
    .main {
      display: flex;
      flex-direction: column;
      @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
        flex-direction: row;
      }
      .content {
        @include pearson-quarks--standard-font();
        margin: 0 10px;
        @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
          width: calc(#{$page-size*0.8} - 20px);
          &--fixed {
            margin: 0 10px 0 calc(#{$page-size} - #{$page-size*0.8} + 10px);
          }
        }
        article {
          margin: 0 0 100px 0;
          .avatar{
            display: flex;
            justify-content: center;
          }
        }
      }
      .menu {
        @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
          width: calc(#{$page-size} - #{$page-size*0.8});
        }
        &--fixed {
          background: $pc-color-white;
          box-shadow: $pc-color-black 1px 1px 5px;
          position: fixed;
          top: 0px;
          width: 100%;
          @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
            box-shadow: none;
            top: 50px;
            width: calc(#{$page-size} - #{$page-size*0.8});
          }
        }
        nav {
          display: flex;
          flex-direction: row;
          @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
            flex-direction: column;
          }
          a {
            border-left: 2px solid $pc-color-white;
            color: $pc-color-gray-pencil;
            @include pearson-quarks--h2-font();
            @media screen and (min-device-width: $page-size) and (min-width: $page-size) {
              margin: 0 0 20px 0;
            }
            padding: 0 0 0 47px;
            text-decoration: none;
            &:hover {
              color: $pc-color-blue-pearson;
              border-left: 2px solid $pc-color-blue-pearson;
            }
            &:active {
              color: $pc-color-blue-pearson;
            }
          }
        }
      }
    }
    footer {
      @include pearson-quarks--footer-font();
      align-items: center;
      background: $pc-color-gray-pencil-hb;
      display: flex;
      height: 100px;
      justify-content: center;
      text-align: center;
    }
  }
}