@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans/OpenSans-Regular.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('./fonts/OpenSans/OpenSans-Light.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('./fonts/OpenSans/OpenSans-Semibold.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('./fonts/OpenSans/OpenSans-Bold.woff');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 600;
  src: url('./fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: url('./fonts/PlayfairDisplay/PlayfairDisplay-Black.woff');
}

